/* Common classes */
.d-flex {
    display: flex;
}
.justifyCenter {
    justify-content: center;
}








#topbar
{
    width: 100%;
    height: 50px;
    background-color: rgb(36, 38, 112);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#topbar p
{
    color: azure;
    text-decoration: none;
}

#topbar p a
{
    text-decoration: none;
    color: rgb(42, 248, 197);
}

#topbar img
{
    width: 20px;
    height: 20px;
    margin-left: -40px;
}

.navbar-max
{
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
}

.navbar-min
{
    max-width: 70%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-color: antiquewhite;
    align-items: center;
}

.navbar-min div
{
    margin-right: 40px;
}

.talk
{
    background-color: blue;
    padding: 10px 20px;
    color: aliceblue;
    border-radius: 10px;
}

